/*Font importés de google font*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/*Navbar*/

header {
    position: absolute;
    background-color: #fff;
    width: 1200px;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
}


.navbar {  /*Pour retirer le petit point de la liste nav*/
    list-style: none;
    display: flex;
}

.navbar li { /*Pour aligner la liste nav*/
    display: inline-block;
    padding: 0px 10px;
    font-family: 'Montserrat', sans-serif;
}
li, a {
    font-weight: 400;
    font-size: 16px;
    color: #A9A5A0;
    text-decoration: none;      
}
mark { /*Pour changer la couleur d'une li spécifique en fonction de la page 
    (ex: on est sur la page "à propos" ça seras la li "à propos" qui sera marqué) */
    background-color: transparent;
    color: #6955AA;
    font-weight: 500;
}


/*Grille*/
main {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(6,auto);
    row-gap: 50px; 
    margin: 0px 350px;
}

/*Partie reseaux*/

.reseaux {
    width: auto;
    height: 350px;
    /*border: #000 1px solid;*/ 
    display: flex; 
    grid-column: 1/3; 
    grid-row: 0/1;
    margin-top: 180px;
}

.boutonlien {
    display: flex;
    width: 465px;
    justify-content: space-between;
    padding: 0px;
}

.illus {
    margin: 0% 0% 100px 300px;
    width: 415px;
    height: 332px;
}

.texte {
    width: 465px;
    margin-top: 40px;
}


/* Bouton pour les liens réseaux */

ul {
    display: flex;
    list-style-type: none;
}



/*Boutons de Loic !!!PAS TOUCHE !!!*/

.boutonlien1
{
    /*margin: 15px;*/
    font-family: 'Montserrat';
    font-size: 10px;
    text-decoration: none;
    color: white;
    background-color: #1da1f3;
    width: 140px;
    height: 40px;
    text-align: center;

}
.boutonlien2
{
    /*margin: 15px;*/
    font-family: 'Montserrat';
    font-size: 10px;
    text-decoration: none;
    color: white;
    background-color: #0274b3;
    width: 140px;
    height: 40px;
    text-align: center;
 
}
.boutonlien3
{
    /*margin: 15px;*/
    font-family: 'Montserrat';
    font-size: 10px;
    text-decoration: none;
    color: white;
    background-color: black;
    width: 140px;
    height: 40px;
    text-align: center;
}
.im1
{

    width: 25px;
    height: 25px;
    padding-right: 10px;
    margin-left: 20px;
}
 .boutonlien li a 
 {
     display: flex;
     align-items: center;
 }





/*Apparence du texte*/

.reseaux h1 {
    font-family: 'Abril Fatface';
    font-size: 34px;
    margin: 0px;
    color: #E74862;
}

.reseaux h2 {
    font-family: 'Montserrat';
    color: #424242;
    font-size: 36px;
    margin: 0px;
}

.reseaux p {
    font-family: 'Montserrat';
    color: #424242;
    font-size: 16px;
    margin: 30px 0px;
}


/*Cartels*/

.cartels {
    width: auto;
    height: auto;
    margin: 50px;
    /*border: 1px #202020 solid;*/
    font-family: 'Montserrat', sans-serif;
}
/*Partie en bas du cartel*/
.titre-lorem {
    padding: 0px 20px 20px 0px;
}

.cartels img { /*Taille de l'image du cartel*/
    width: 460px;
}

/*Apparence du texte et des titre du cartel*/

.cartels h6 {
    color: #424242;
    margin: 10px 0px;
}

.cartels h4 {
    color: #E74862;
    margin: 10px 0px;
}

.cartels p {
    color: #424242;
    font-size: 11px;
    margin: 10px 0px;
}

.cartels a {
    color: #E74862;
    font-size: 12px;
    text-decoration: underline;
    margin: 20px 0px;
}

/*Placement des cartels*/

.cartel1 {
    grid-column: 1/2;
}

.cartel2 {
    display: block;
    grid-column: 2/3;
}