/*Font importés de google font*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/**/
header {
    position: absolute;
    width: 1440px;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
}


.navbar {  /*Pour retirer le petit point de la liste nav*/
    list-style: none;
    display: flex;
}

.navbar li { /*Pour aligner la liste nav*/
    display: inline-block;
    padding: 0px 10px;
    font-family: 'Montserrat', sans-serif;
}
li, a {
    font-weight: 400;
    font-size: 16px;
    color: #A9A5A0;
    text-decoration: none;      
}